---
import VegetarianIcon from "../../assets/icons/vegetarian-icon.svg";
import VeganIcon from "../../assets/icons/vegan-icon.svg";
import SeasonIcon from "../../assets/icons/season-leaf.svg";
---

<div class="flex items-center justify-center gap-large">
  <div class="flex gap-medium items-center">
    <VegetarianIcon width={16} height={16} />
    <p class="text-accent text-button"><strong>Vegetarisk</strong></p>
  </div>
  <div class="flex gap-medium items-center">
    <VeganIcon width={16} height={16} />
    <p class="text-accent text-button"><strong>Vegansk</strong></p>
  </div>
  <div class="flex gap-medium items-center">
    <SeasonIcon width={20} height={20} />
    <p class="text-accent text-button"><strong>Sæson</strong></p>
  </div>
</div>
