---
import ReadlineLink from "../../components/menu/ReadlineLink.astro";
---

<div class="bg-highlight border border-accent rounded-medium p max-w-[1192px] p-default">
  <ul class="flex gap-large overflow-auto">
    <li>
      <ReadlineLink href="#brunch">Brunch</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#vafler">Vafler</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#bowls">Bowls</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#broed">Brød og pålæg</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#bagvaerk">Bagværk</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#smoerrebroed">Smørrebrød</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#kaffe">Kaffe</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#drikkevarer">Drikkevarer</ReadlineLink>
    </li>
  </ul>
</div>
