---
const { href } = Astro.props;
---

<a class="group flex-wrap w-full sm:w-fit justify-center rounded-full flex items-center gap-medium transition-colors duration-400 ease-in-out bg-transparent text-accent text-label p-button border border-accent hover:border-accent-hover whitespace-nowrap hover:bg-accent-hover hover:text-primary cursor-pointer" href={href}>
  <slot />
</a>
