---
import ReadlineLink from "../../components/menu/ReadlineLink.astro";
---

<div class=" bg-primary-2 p-default rounded-default">
  <ul class="flex gap-default md:justify-center items-center overflow-auto h-[45px]">
    <li>
      <ReadlineLink href="#brunch">Brunch</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#vafler">Vafler</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#bowls">Bowls</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#broed">Brød og pålæg</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#bagvaerk">Bagværk</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#smoerrebroed">Smørrebrød</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#kaffe">Kaffe</ReadlineLink>
    </li>
    <li>
      <ReadlineLink href="#drikkevarer">Drikkevarer</ReadlineLink>
    </li>
  </ul>
</div>
