---
const { time } = Astro.props;
---

<p class="group font-body-text text-label flex-wrap p-button rounded-full flex items-center bg-neutral-2 text-neutral-1 w-fit h-fit"><strong>{time}</strong></p>
