@import "tailwindcss";

@font-face {
  font-family: Babe Sans;
  font-style: normal;
  font-weight: 200 700;
  src: url("/fonts/BabeSansRegular.woff2") format("woff2");
}

@theme {
  /*Colorpalette*/
  --color-primary: #fcf7f4;
  --color-primary-2: #fefbf8;
  --color-primary-3: #ffffff;
  --color-secondary: #c32628;
  --color-accent: #5f773f;
  --color-accent-hover: #4b602e;
  --color-neutral-1: #300d0c;
  --color-neutral-2: #f2d5d6;
  --color-neutral-3: #bbd5ef;
  --color-disabled: #6a6a6a;
  --color-highlight: #fefbf8;
  --color-faded-highlight: #300d0c4d;

  /*Font*/
  --font-body-text: "mr-eaves-sans", sans-serif;
  --font-button-text: "mr-eaves-sans", sans-serif;
  --font-header: "Babe Sans", sans-serif;
  --font-label: "mr-eaves-sans", sans-serif;

  /* Font Sizes */
  --text-header-1: clamp(2.5rem, 2rem + 2.5vw, 4.25rem);
  --text-header-2: clamp(2.25rem, 2.0357rem + 1.0714vw, 3rem);
  /* --text-header-3: clamp(1.25rem, 1rem + 1.25vw, 2.125rem); */
  --text-header-3: clamp(1.5rem, 1.3214rem + 0.8929vw, 2.125rem);
  --text-paragraph-2: clamp(1.125rem, 1.2857rem + -0.1786vw, 1.25rem);
  --text-paragraph: 1.25rem;
  --text-button: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
  --text-label: clamp(1.125rem, 1.2857rem + -0.1786vw, 1.25rem);

  /* Line Heights */
  --leading-height-header-1: clamp(2rem, 2.2rem + 2.8571vw, 4.6875rem);
  --leading-height-header-2: clamp(2.6875rem, 2.4911rem + 0.9821vw, 3.375rem);
  --leading-height-header-3: clamp(1.75rem, 1.5357rem + 1.0714vw, 2.5rem);
  --leading-height-tag: 1.25rem;
  --leading-height-paragraph: clamp(1.25rem, 1.25rem + 0.2679vw, 1.5rem);

  /*General*/
  --spacing-button: var(--spacing-medium) var(--spacing-default);
  --spacing-default: 1rem;
  --spacing-small: 4px;
  --spacing-medium: 0.5rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 2.5rem;
  --spacing-negative: 4rem;
  --spacing-margin: clamp(7.75rem, -3.75rem + 15vw, 7.75rem) clamp(1rem, -3.75rem + 15vw, 12.75rem);
  --spacing-section: clamp(1rem, -3.75rem + 15vw, 12.75rem);
  --spacing-card: clamp(150px, 148px + 0.1vw, 148px);
  --spacing-section: clamp(64px, 64px + 10vw, 224px);
  --spacing-burger-menu: var(--spacing-default) var(--spacing-large);

  /*Border Radius*/
  --radius-default: var(--spacing-default);
  --radius-small: var(--spacing-small);
  --radius-default: var(--spacing-default);
  --radius-medium: clamp(4px, 4px + 0.5vw, 8px);
  --radius-large: clamp(8px, 8px + 0.5vw, 16px);
  --radius-xl: clamp(16px, 16px + 1vw, 32px);

  /*Cards*/
  --spacing-card: var(--spacing-default) var(--spacing-default) var(--spacing-large) var(--spacing-default);

  /*Shadows*/
  --shadow-pink: 0px 52px 15px 0px rgba(201, 151, 152, 0), 0px 33px 13px 0px rgba(201, 151, 152, 0.01), 0px 19px 11px 0px rgba(201, 151, 152, 0.05), 0px 8px 8px 0px rgba(201, 151, 152, 0.09), 0px 2px 5px 0px rgba(201, 151, 152, 0.1);
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: var(--font-header), sans-serif;
}

h2 {
  font-size: var(--text-header-2);
}

h3 {
  font-size: var(--text-header-3);
}

p,
label,
li {
  font-family: var(--font-body-text), sans-serif;
  line-height: var(--leading-height-paragraph);
}

fieldset {
  font-family: var(--font-body-text), sans-serif;
}

.pin-skadow {
  box-shadow: 0px 52px 15px 0px rgba(201, 151, 152, 0), 0px 33px 13px 0px rgba(201, 151, 152, 0.01), 0px 19px 11px 0px rgba(201, 151, 152, 0.05), 0px 8px 8px 0px rgba(201, 151, 152, 0.09), 0px 2px 5px 0px rgba(201, 151, 152, 0.1);
}
