---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";

---
<Layout>
    <main class="m-margin">
        <Form/>
    </main>
</Layout>