---
export const prerender = false;
//Komponenter
import Layout from "../layouts/Layout.astro";
import Form from "../components/arrangement/Form.astro";
import Card from "../components/arrangement/Card.astro";

//Billeder
import Teapot from "../assets/illustrations/white/teapot-with-three-cups.webp";
import Cutlery from "../assets/illustrations/white/bestik.avif";
import Citroner from "../assets/illustrations/brown/citroner.avif";
import Croissant from "../assets/illustrations/brown/croissant.avif";

---

<Layout>
  <main class="m-margin inline-flex flex-col lg:flex-row lg:items-start lg:gap-extra-large lg:justify-center">
    <section class=" flex flex-col gap-extra-large">
      <Card image={Teapot}  imageSize="w-full h-auto" imagePosition="my-[-10%] mx-[50%]" bgColor="bg-neutral-3" fontColor="text-neutral-1" title="Arrangement" subtitle="Hold dit næste arrangement hos os" description="Små selskaber i hyggelige rammer – perfekt til fødselsdage, babyshowers og bogklubber."/>
      <Card image={Cutlery} imageSize="w-[50%] h-auto" imagePosition="my-[-10%] mx-[75%] rotate-[-30deg]" bgColor="bg-accent" fontColor="text-primary" title="Event" subtitle="Planlæg et unikt event på Kær Kaffebar" description="Workshops, pop-ups eller private aftenarrangementer? Vi hjælper dig med at skabe stemningen"/>
      <Card image={Citroner} imageSize="w-[70%] h-auto" imagePosition="my-[2%] mx-[40%] rotate-[140deg]" bgColor="bg-primary" fontColor="text-neutral-1" border="border-2" borderColor="border-faded-highlight"  title="Catering" subtitle="Catering med kærlighed og kvalitet" description="Bestil morgenmad, frokost eller kagebord til din næste sammenkomst – lavet med omtanke."/>
      <Card image={Croissant} imageSize="w-[50%] h-auto" imagePosition="my-[-4%] mx-[70%] rotate-[-10deg]" bgColor="bg-primary" fontColor="text-neutral-1" border="border-2" borderColor="border-faded-highlight"  title="Kage og bestilling" subtitle="Bestil hjemmelavede kager til enhver lejlighed" description="Bryllup, fødselsdage eller bare fordi - vi bager med smag og stil"/>
    </section>
    <section class="flex flex-grow flex-shrink-0 basis-0">
      <Form />
    </section>
  </main>
</Layout>
