---
import "../styles/global.css";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Accordion from "../components/runningclub/Accordion.astro";
import RunningClubCard from "../components/runningclub/RunningClubCard.astro";
import RunningImage from "../assets/img/running-img.webp";
import CoffeeCupIllustration from "../assets/illustrations/blue/kaer-coffecup.webp";
import LemonPiecesIllustration from "../assets/illustrations/blue/lemon-pieces.webp";

const faqItems = [
  { question: "Hvor mødes vi?", answer: "Vi mødes ved Kær Kaffebar, Valby Lannggade 86C, 2500 Valby." },
  { question: "Hvad gør jeg, hvis jeg ikke kan komme alligevel?", answer: "Hvis du efter tilmelding finder ud af, at du ikke kan komme alligevel, så skriv til nummeret: 81610900 mindst 24 timer inden, så vi ved, hvor mange vi skal regne med." },
  { question: "Får man gratis kaffe?", answer: "Nej vi giver desværre ikke gratis kaffe, men vi giver et ingefærshot og super hyggelig stemning. Kaffebaren er selvfølgelig åben, så man er mere end velkommen til at nyde mad eller drikkevarer udenfor ved vores café borde eller inden i vores hyggelig lokale." },
];
---

<Layout title="Kær løbeklub">
  <main class="m-margin mb-section grid gap-negative">
    <section class="relative md:grid md:grid-cols-[1fr_0.7fr] md:mb-negative">
      <Image src={CoffeeCupIllustration} alt="kaffekop illustration" class="absolute w-[130px] right-1 top-1 z-[-10] md:w-[300px] lg:w-[400px]" />
      <div>
        <h1 class="text-header-1 font-header text-neutral-1 leading-height-header-1">Kær løbeklub</h1>
        <h3 class="text-neutral-1 text-header-3 font-body-text leading-height-header-3">Kær løbeklub i Valby har <strong>fokus på det sociale og på at samle lokalsamfundet</strong>, samtidig med at vi bevæger os. <strong>Ruten i søndermarken er 2,5 km, så alle kan være med.</strong>  Er man hurtig, kan man nå den 2 gange!</h3>
      </div>
    </section>
    <div class="grid gap-negative md:mt-negative">
      <section class="grid gap-large md:grid-cols-2 md:gap-negative">
        <div class="grid gap-default">
          <h2 class="text-neutral-1 text-header-2 text-left font-body-text leading-height-header-2">Kommende ture</h2>
          <RunningClubCard />
          <RunningClubCard />
          <p class="text-neutral-1 text-center font-body-text text-label leading-height-paragraph"><strong>OBS: ved afmeldning skriv til nummeret: 81610900 mindst 24 timer inden.</strong></p>
        </div>
        <div class="grid justify-items-center grid-rows-[0.1fr_auto] max-h-[400px] overflow-y-auto">
          <h1 class="font-header text-header-1 leading-height-header-1 text-neutral-1">FAQ</h1>
          <Accordion items={faqItems} />
        </div>
      </section>
      <section class="grid gap-large md:grid-cols-2 md:gap-negative">
        <div class="h-[140px] overflow-hidden rounded-full md:h-[200px]">
          <Image src={RunningImage} alt="løbe billede" class="object-cover w-full h-full object-bottom" />
        </div>
        <div class="relative h-[250px]">
          <h2 class="text-accent text-header-2 leading-height-header-2 font-body-text text-center">Hos Kær Kaffebar handler det ikke kun om tempo, men om fællesskab og lokale bånd.</h2>
          <Image src={LemonPiecesIllustration} alt="illustration af citroner" class="absolute bottom-0 right-0 z-[-10]" />
        </div>
      </section>
    </div>
  </main>
</Layout>
