---
const { items = [] } = Astro.props;
import PlusIcon from "../assets/icons/plus-icon.svg";
import MinusIcon from "../assets/icons/minus-icon.svg";
---

<ul class="list-none w-full" id="accordion">
  {
    items.map((item, index) => (
      <li class="w-full my-3" data-index={index}>
        <button type="button" class="accordion-toggle flex items-center text-left justify-between w-full border-b-1 border-text py-2">
          <h3 class="text-neutral-1 text-header-3">{item.question}</h3>
          <span class="icon text-white text-2xl pr-2">
            <PlusIcon />
          </span>
        </button>
        <div class="accordion-content max-h-0 overflow-hidden pt-1 transition-all duration-300 ease-in-out">
          <p class="text-base md:text-lg text-neutral-1">{item.answer}</p>
        </div>
      </li>
    ))
  }
</ul>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const items = document.querySelectorAll("#accordion li");

    const plusIcon = ` 
       <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 8C0 7.44772 0.447715 7 1 7H15C15.5523 7 16 7.44772 16 8C16 8.55228 15.5523 9 15 9H1C0.447715 9 0 8.55228 0 8Z" fill="#300D0C"/>
        <path d="M8 0C8.55228 0 9 0.447715 9 1V15C9 15.5523 8.55228 16 8 16C7.44772 16 7 15.5523 7 15V1C7 0.447715 7.44772 0 8 0Z" fill="#300D0C"/>
        </svg>`;

    const minusIcon = `
       <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 1C0 0.447715 0.447715 0 1 0H15C15.5523 0 16 0.447715 16 1C16 1.55228 15.5523 2 15 2H1C0.447715 2 0 1.55228 0 1Z" fill="#300D0C"/>
        </svg>`;

    items.forEach((item) => {
      const button = item.querySelector(".accordion-toggle");
      const content = item.querySelector(".accordion-content");
      const icon = item.querySelector(".icon");

      button.addEventListener("click", () => {
        const isOpen = content.classList.contains("open");

        // Luk alle andre
        items.forEach((otherItem) => {
          const otherContent = otherItem.querySelector(".accordion-content");
          const otherIcon = otherItem.querySelector(".icon");

          otherContent.style.maxHeight = null;
          otherContent.classList.remove("open");
          otherIcon.innerHTML = plusIcon;
        });

        // Toggle det valgte
        if (!isOpen) {
          content.classList.add("open");
          content.style.maxHeight = content.scrollHeight + "px";
          icon.innerHTML = minusIcon;
        } else {
          content.classList.remove("open");
          content.style.maxHeight = null;
          icon.innerHTML = plusIcon;
        }
      });
    });
  });
</script>
