---
import PrimaryButton from "./PrimaryButton.astro";
import Facebook from "../assets/icons/facebook-icon.svg"
import Instagram from "../assets/icons/instagram-icon.svg"
import Smiley from "../assets/icons/smiley-icon.svg"
import Logo from "../assets/icons/logo.svg"


---

<footer class="bg-secondary text-primary p-large flex flex-col items-center gap-large text-center">
  <div class="flex m-auto gap-large items-center">
    <a href="#facebook"> <img src={Facebook.src} alt="facebook ikon" /></a>
    <a href="#instagram"> <img src={Instagram.src} alt="instagram ikon" /></a>
  </div>
  <img src={Logo.src} alt="kær kaffebar logo i hvid" />
  <div>
    <h3>Åbningstider</h3>
    <div>
      <p>Mandag - Fredag</p>
      <p>07:30 - 18:00</p>
    </div>
    <div>
      <p>Lørdag - Søndag</p>
      <p>07:30 - 18:00</p>
    </div>
  </div>
  <div>
    <h3>Kontakt</h3>
    <div>
      <p>Valby Langgade 86C St. Tv.</p>
      <p>Tlf: 81 61 09 00</p>
    </div>
  </div>
  <div class="flex flex-col items-center gap-default">
    <img src={Smiley.src} alt="glad smiley">
    <PrimaryButton>Smileyrapport</PrimaryButton>
  </div>
  <p class="text-right">Du kan til enhver tid ændre eller aflyse din booking via telefonnummer 81 61 09 00</p>
</footer>
