---
import PrimaryButton from "./PrimaryButton.astro";


---

<footer>
  <div>
    <a href="#facebook"> <img src="" alt="facebook ikon" /></a>
    <a href="#instagram"> <img src="" alt="instagram ikon" /></a>
  </div>
  <img src="" alt="kær kaffebar logo i hvid" />
  <div>
    <h3>Åbningstider</h3>
    <div>
      <p>Mandag - Fredag</p>
      <p>07:30 - 18:00</p>
    </div>
    <div>
      <p>Lørdag - Søndag</p>
      <p>07:30 - 18:00</p>
    </div>
  </div>
  <div>
    <h3>Kontakt</h3>
    <div>
      <p>Valby Langgade 86C St. Tv.</p>
      <p>Tlf: 81 61 09 00</p>
    </div>
  </div>
  <div>
    <img src="" alt="glad smiley">
    <PrimaryButton>Smileyrapport</PrimaryButton>
  </div>
  <p>Du kan til enhver tid ændre eller aflyse din booking via telefonnummer 81 61 09 00</p>
</footer>
