---
import { languages } from "../i18n/utils";
const { lang, otherLang } = Astro.props as {
  lang: keyof typeof languages;
  otherLang: keyof typeof languages;
};
---

<div class="switch">
  <input
    id="language-toggle"
    class="check-toggle check-toggle-round-flat"
    type="checkbox"
    checked={lang === otherLang ? false : lang === "da"}
  />
  <label for="language-toggle"></label>
  <span class="on">DA</span>
  <span class="off">EN</span>
</div>

<script is:inline lang="javascript">
  document.addEventListener("DOMContentLoaded", () => {
    const toggle = document.getElementById("language-toggle");
    if (toggle) {
      toggle.addEventListener("change", () => {
        const da = "{{lang}}";
        const en = "{{otherLang}}";
        location.pathname = location.pathname.replace(`/${da}/`, `/${en}/`);
      });
    }
  });
</script>

<style>
  .switch {
    position: relative;
    display: inline-block;
    margin-inline-end: 1rem;
  }

  .switch > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: var(--font-paragraph);
    font-weight: bold;
    font-size: var(--text-button);
    text-transform: uppercase;
    width: 42%;
    text-align: center;
  }

  input.check-toggle-round-flat:checked ~ .off {
    color: var(--color-primary);
  }

  input.check-toggle-round-flat:checked ~ .on {
    color: var(--color-accent);
  }

  .switch > span.on {
    left: 0;
    padding-left: 2px;
    color: var(--color-primary);
  }

  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: var(--color-accent);
  }

  .check-toggle {
    position: absolute;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input.check-toggle-round-flat + label {
    padding: 1rem;
    width: 5.15rem;
    height: 3.2rem;
  }
  input.check-toggle-round-flat + label:before,
  input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }

  input.check-toggle-round-flat + label:before {
    top: 0px;
    left: -10px;
    bottom: 0px;
    right: -10px;
    background-color: var(--color-primary);
    border: 2px solid var(--color-accent);
    border-radius: 16px;
  }
  input.check-toggle-round-flat + label:after {
    top: 0px;
    left: -10px;
    bottom: 0px;
    width: 52px;
    background-color: var(--color-accent);
    border-radius: 16px 0 0 16px;
  }

  input.check-toggle-round-flat:checked + label {
  }

  input.check-toggle-round-flat:checked + label:after {
    margin-left: 50px;
    border-radius: 0 16px 16px 0;
    width: 52px;
  }
</style>
