---
const locales = ["da", "en"];
const currentPath = Astro.url.pathname.split("/");
const currentLocale = locales.includes(currentPath[1]) ? currentPath[1] : locales[0];
const page = currentLocale ? currentPath.slice(2).join("/") : currentPath.slice(1).join("/");
---

<div class="flex border-2 border-accent rounded-lg">
  <a 
    href={`/da/${page}`} 
    class={currentLocale === "da" ? "bg-accent p-medium text-button text-primary" : "text-accent text-button p-medium"}
  >
    DA
  </a>
  <a 
    href={`/en/${page}`} 
    class={currentLocale === "en" ? "bg-accent p-medium text-button text-primary" : "text-accent text-button p-medium"}
  >
    EN
  </a>
</div>
