---
import LocationIcon from "../assets/icons/location-icon.svg";
import ClockIcon from "../assets/icons/clock-icon.svg";
import PeopleIcon from "../assets/icons/people-icon.svg";
import Button from "../components/Button.astro";
---

<article class="flex bg-highlight border border-accent rounded-medium p-default gap-medium justify-between">
  <p class="text-secondary text-label"><strong>Dato</strong></p>
  <div>
    <p class="text-text text-label"><strong>Løbeklub</strong></p>
    <div class="flex items-center gap-small">
      <LocationIcon />
      <p class="text-text">Valby Langgade 86C</p>
    </div>
    <div class="flex items-center gap-small">
      <ClockIcon />
      <p class="text-text">09:00 - 10:00</p>
    </div>
    <div class="flex items-center gap-small">
      <PeopleIcon />
      <p class="text-text">7 deltagere</p>
    </div>
  </div>
  <div class="self-end">
    <Button variant="secondary" ariaLabel="Tilmeld dig løbeklub">Tilmeld</Button>
  </div>
</article>
