---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<script>
  import { gsap } from "gsap";
  console.log("using GSAP: ", gsap.version);
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="stylesheet" href="https://use.typekit.net/auz0iym.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Structured data -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "LocalBusiness",
        "name": "kær kaffebar",
        "image": "url",
        "priceRange": "$",
        "telephone": "81 61 09 00",
        "url": "http://kaerkaffebar.dk/",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Valby Langgade 86C St. Tv. ",
          "addressLocality": "København",
          "addressRegion": "Denmark",
          "postalCode": "2500",
          "addressCountry": "Denmark"
        },
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday"
            ],
            "opens": "07:30",
            "closes": "18:00"
          },
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": ["Saturday", "Sunday"],
            "opens": "09:00",
            "closes": "17:00"
          }
        ],
        "sameAs": [
          "https://www.facebook.com/kaerkaffebar",
          "https://www.instagram.com/kaerkaffebar/"
        ]
      }
    </script>
  </head>
  <body class="bg-primary">
    <Header />
    <slot />
    <Footer />
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"/>
  <script src="/scripts/popup.js" is:inline lang="javascript" />
  <script src="/scripts/month.js" is:inline lang="javascript" />
  
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
